Repository stan-konnov/nomadloops: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-lint, ruff-format, prettier, eslint

.pre-commit-config.yaml:

repos:
  # Backend
  - repo: local
    hooks:
      - id: ruff-lint
        name: Ruff Lint (backend)
        entry: backend/venv/bin/ruff
        language: system
        args: [ "check", "--fix", "-q" ]
        files: ^backend/.*\.py$

      - id: ruff-format
        name: Ruff Format (backend)
        entry: backend/venv/bin/ruff
        language: system
        args: [ "format", "-q" ]
        files: ^backend/.*\.py$

  # Frontend
  - repo: local
    hooks:
      - id: prettier
        name: Prettier (frontend)
        entry: npx prettier --write
        language: system
        files: ^frontend/.*\.(ts|tsx|js|css)$

  # Frontend
  - repo: local
    hooks:
      - id: eslint
        name: ESLint (frontend)
        entry: bash -c 'cd frontend && npx eslint'
        language: system
        files: ^frontend/.*\.(ts|tsx|js)$

chore: Simplify state.
  frontend/src/store/loops.planner.store.ts
Due: prettier, eslint

chore: Bunch of todos for frontend.
  frontend/src/components/LoopsForm.tsx
Due: prettier, eslint

chore: An enum to track loop generation progress.
  frontend/src/utils/enums.ts
Due: prettier, eslint

chore: An enum to track loop generation progress.
  backend/app/utils/enums.py
Due: ruff-lint, ruff-format

chore: Expand enum; add to store.
  frontend/src/store/loops.planner.store.ts
  frontend/src/utils/enums.ts
Due: prettier, eslint

feature: disable submit while loops are being generated.
  backend/app/api/v1/endpoints/loops.py
  frontend/eslint.config.js
  frontend/src/api/loops.api.ts
  frontend/src/api/routes.ts
  frontend/src/components/LoopsForm.tsx
  frontend/src/components/LoopsPlanner.tsx
Due: ruff-lint, ruff-format, prettier, eslint

feature: disable submit while loops are being generated.
  frontend/src/api/loops.api.ts
  frontend/src/components/LoopsPlanner.tsx
  frontend/src/types/dtos/base/data.api.response.ts
Due: prettier, eslint

chore: TODOs.
  frontend/src/components/LoopsForm.tsx
Due: prettier, eslint

chore: geocode helper.
  frontend/.env.default
  frontend/eslint.config.js
  frontend/src/utils/geocode.ts
  frontend/src/vite-env.d.ts
Due: prettier, eslint

chore: move netcode one level up.
  frontend/src/components/LoopsForm.tsx
  frontend/src/components/LoopsPlanner.tsx
  frontend/src/store/loops.planner.store.ts
Due: prettier, eslint

chore: removing local state and using the store.
  frontend/src/components/LoopsForm.tsx
  frontend/src/store/loops.planner.store.ts
Due: prettier, eslint

chore: removing local state and using the store.
  frontend/src/components/LoopsForm.tsx
  frontend/src/components/LoopsPlanner.tsx
Due: prettier, eslint

chore: Working on render logic.
  frontend/src/components/LoopsPlanner.tsx
Due: prettier, eslint

chore: Separating between local state and store.
  frontend/src/components/LoopsForm.tsx
Due: prettier, eslint

chore: More work on render logic; huggingfave requires payment for mistral?
  frontend/src/components/LoopsForm.tsx
Due: prettier, eslint

Just some todos. Need to work on BE.
  frontend/src/components/LoopsPlanner.tsx
Due: prettier, eslint

Feature: API Integration (#7)
  backend/app/api/v1/endpoints/loops.py
  backend/app/utils/enums.py
  frontend/.env.default
  frontend/eslint.config.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/api/axios.ts
  frontend/src/api/loops.api.ts
  frontend/src/api/routes.ts
  frontend/src/components/LoopsForm.tsx
  frontend/src/components/LoopsPlanner.tsx
  frontend/src/store/loops.planner.store.ts
  frontend/src/types/dtos/base/data.api.response.ts
  frontend/src/utils/enums.ts
  frontend/src/utils/geocode.ts
  frontend/src/utils/to.snake.case.ts
  frontend/src/vite-env.d.ts
Due: ruff-lint, ruff-format, prettier, eslint

Local docker composed Ollama.
  docker-compose.yaml
Due: none

Update environment variables.
  backend/.env.default
  backend/app/settings.py
Due: ruff-lint, ruff-format

Chore: Rework call to LLM from Huggingface API into locally running instance of Ollama serving Mistral.
  backend/.env.default
  backend/app/jobs/generate_loops.py
  backend/requirements.txt
  docker-compose.yaml
Due: ruff-lint, ruff-format

Chore: Shell script to automate model pulling. Need to Dockerfile it.
  docker-compose.yaml
Due: none

Chore: A tad of cleanup.
  docker-compose.yaml
Due: none

Chore: Move shell script to pull the model into separate file. Plug in simple Dockerfile for Ollama + curl.
  Dockerfile.ollama
  docker-compose.yaml
  scripts/start-ollama.sh
Due: none

Chore: Improve make file to copy .env files.
  Makefile
Due: none

Chore: Switching to Ollama (#8)
  Dockerfile.ollama
  Makefile
  backend/.env.default
  backend/app/jobs/generate_loops.py
  backend/app/settings.py
  backend/requirements.txt
  docker-compose.yaml
  scripts/start-ollama.sh
Due: ruff-lint, ruff-format

Feature: WIP on centering and zooming the map on user input.
  frontend/src/components/MapView.tsx
Due: prettier, eslint

Feature: Swap conditions to properly zoom on center.
  frontend/src/components/MapView.tsx
Due: prettier, eslint

feature: Query loops upon generating; type things throughout the flow.
  frontend/src/api/loops.api.ts
  frontend/src/components/LoopsPlanner.tsx
  frontend/src/store/loops.planner.store.ts
  frontend/src/types/interfaces/coordinates.ts
  frontend/src/types/interfaces/loop.ts
  frontend/src/types/interfaces/place.ts
  frontend/src/utils/geocode.ts
Due: prettier, eslint

feature: Render generated loops.
  frontend/src/components/MapView.tsx
Due: prettier, eslint

chore: Cosmetics.
  frontend/src/components/MapView.tsx
Due: prettier, eslint

chore: More cosmetics and avoiding hardcode.
  frontend/.env.default
  frontend/src/components/MapView.tsx
  frontend/src/vite-env.d.ts
Due: prettier, eslint

chore: Avoid pulling assets from CDN.
  frontend/src/components/MapView.tsx
Due: prettier, eslint

chore: Add loading spinner component.
  frontend/src/components/LoadingSpinner.tsx
  frontend/src/components/LoopsForm.tsx
  frontend/src/components/LoopsPlanner.tsx
Due: prettier, eslint

feature: Render polylines.
  frontend/src/components/MapView.tsx
Due: prettier, eslint

feature: Further tackle the prompt to avoid LLM hallucinations.
  backend/app/prompts/generate_loops.txt
Due: none

chore: Todos.
  frontend/src/components/LoopsPlanner.tsx
Due: prettier, eslint

feature: Toast errors.
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/api/axios.ts
  frontend/src/components/LoopsPlanner.tsx
Due: prettier, eslint

Feature: API Integration and Loops Rendering (#9)
  backend/app/prompts/generate_loops.txt
  frontend/.env.default
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/api/axios.ts
  frontend/src/api/loops.api.ts
  frontend/src/components/LoadingSpinner.tsx
  frontend/src/components/LoopsForm.tsx
  frontend/src/components/LoopsPlanner.tsx
  frontend/src/components/MapView.tsx
  frontend/src/store/loops.planner.store.ts
  frontend/src/types/interfaces/coordinates.ts
  frontend/src/types/interfaces/loop.ts
  frontend/src/types/interfaces/place.ts
  frontend/src/utils/geocode.ts
  frontend/src/vite-env.d.ts
Due: prettier, eslint

chore: Setup for client side testing.
  frontend/package-lock.json
  frontend/package.json
  frontend/tests/setup.ts
  frontend/vitest.config.js
Due: prettier, eslint

chore: More setup for testing and starting dish out client side tests.
  frontend/src/App.test.tsx
  frontend/src/components/LoopsPlanner.tsx
  frontend/src/gobal.d.ts
  frontend/vitest.config.js
Due: prettier, eslint
